{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    <h1>Leaderboard - Session {{ session.code }}</h1>

    <table>
        <thead>
        <tr>
            <th>Position</th>
            <th>Joueur</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ participant.nickname }}</td>
                <td>{{ participant.totalScore }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_start', {'id': session.quiz.id}) }}">Retour au Game Master</a>
{% endblock %}
